<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website</title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <h1>Welcome, Admin</h1>
  <p>Calculation: <%= 2 + 2 %></p>
  <img src="/img/download.jpeg" alt="">
  <button onclick="changeColor()">color change</button>
</body>
<script src="/js/index.js"></script>
</html>